<div class="content content-white" id="accommodation" data-scrollspy-broadcast>
    <h1>Places to stay</h1>
    <div class="row sub-content">
        <div class="col-md-9">
            <p>
                We recommend the Highfield House Hotel, as it's  located a couple of minutes walk away from the church
                and a short car ride from the reception venue. We've personally tested out this hotel and thought it was ideal so
                we block-booked a bunch of rooms for the 19th and 20th August, at a discounted rate of £85 per night including breakfast.
            </p>
            <h2>Book by 3rd July</h2>
            <p>
                To get in on our booking, speak to Viv Cooper (the Front of House Manager) at <a href="mailto:foh@highfieldhousehotel.co.uk">foh@highfieldhousehotel.co.uk</a>
                or <b>02380516633</b> and mention our wedding. We have these held until <b>3rd July</b>.
            </p>
            <div style="margin: 25px 0;">
                <a class="button" href="http://www.highfieldhousehotel.co.uk/" target="_blank" style="margin-right: 25px;">Hotel Website</a>
                <a class="button" href="https://www.google.co.uk/maps/place/Highfield+House+Hotel/@50.927819,-1.391598,15z/data=!4m2!3m1!1s0x0:0xac45b908762e7a39" target="_blank">Go to Map</a>
            </div>
            <p>
                There are plenty of other places to stay in Southampton, so feel free to make your own plans to stay elsewhere if you like!
            </p>
        </div>
        <div class="col-md-3 img-column">
            <img src="img/hotel-round.png">
        </div>
    </div>
</div>