<div class="content content-white" id="accommodation">
    <h1>Places to stay</h1>
    <div class="row sub-content">
        <div class="col-md-9">
            <p>
                This hotel is located a couple of minutes walk away from the church and a short car ride from the reception venue.
            We've personally tested out this hotel and we liked it so much we block-booked a whole bunch of rooms, so for a discounted rate be
            sure to mention our wedding!

                There are plenty of places to stay in Southampton, so feel free to make your own plans to stay elsewhere if you like!</p>
            <a class="button" href="http://www.highfieldhousehotel.co.uk/" target="_blank">Hotel Website</a>
            <a class="button" href="https://www.google.co.uk/maps/place/Highfield+House+Hotel/@50.927819,-1.391598,15z/data=!4m2!3m1!1s0x0:0xac45b908762e7a39" target="_blank">Go to Map</a>
        </div>
        <div class="col-md-3">
            <img src="img/hotel-round.png">
        </div>
    </div>
</div>