<div class="content content-white">
    <h1>Places to stay</h1>
    <div class="sub-content">
        <div>
            <h2>Highfield House Hotel</h2>
            <p>This hotel is located a couple of minutes walk away from the church and a short car ride from the reception venue.
            We've personally tested out this hotel and we liked it so much we block-booked a whole bunch of rooms, so for a discounted rate be
            sure to mention our wedding!</p>
            <a class="button" href="http://www.highfieldhousehotel.co.uk/" target="_blank">Hotel Website</a>
            <a class="button" href="https://www.google.co.uk/maps/place/Highfield+House+Hotel/@50.927819,-1.391598,15z/data=!4m2!3m1!1s0x0:0xac45b908762e7a39" target="_blank">Go to Map</a>
        </div>
    </div>
    <div class="sub-content">
        <div>
            <h2>Southampton Travelodge</h2>
            <p>Budget accommodation 20 minutes walk from the church and less than 15 minutes walk from the reception.</p>
            <a class="button" href="https://www.travelodge.co.uk/hotels/66/Southampton-hotel" target="_blank">Hotel Website</a>
            <a class="button" href="https://www.google.co.uk/maps/place/Travelodge+Southampton+Hotel/@50.9190421,-1.4054956,17z/data=!3m1!4b1!4m2!3m1!1s0x487476aa3ea8cd63:0xa0f238b784a98211" target="_blank">Go to Map</a>
        </div>
    </div>
</div>