<div class="content content-white" id="event" data-scrollspy-broadcast>
    <h1 class="date-header"><span class="line">20th August 2016 -&nbsp;</span><span class="line">Southampton, UK</span></h1>
    <div class="row sub-content">
        <div class="col-md-9">
            <h2>The Ceremony</h2>
            <p>Our wedding ceremony is taking place at the beautiful Highfield Church, in Southampton,
                the church we both called home when we lived in Southampton.</p>
            <div class="row sub-info">
                <div class="col-xs-2 col-md-1">
                    <ng-include src="'img/clock.svg'"></ng-include>
                </div>
                <div class="col-xs-10 col-md-11">Guests should arrive at 1.30 pm for a 2pm service. Following the ceremony, photographs will be
                    taken.
                </div>
            </div>
            <div class="row sub-info">
                <div class="col-xs-2 col-md-1">
                    <ng-include src="'img/parking2.svg'"></ng-include>
                </div>
                <div class="col-xs-10 col-md-11">There is no parking available at the church itself, but you should have no trouble finding spaces on the
                    nearby roads (try Brookvale Road).
                </div>
            </div>
            <div class="row sub-info">
                <div class="col-xs-2 col-md-1">
                    <ng-include src="'img/map-marker.svg'"></ng-include>
                </div>
                <div class="col-xs-10 col-md-6">
                    <b>Highfield Church</b><br>
                    Highfield Lane<br>
                    Southampton<br>
                    SO17 1RL<br>
                </div>
                <div class="col-xs-12 col-md-5">
                    <div class="map-button-col">
                        <a class="button" target="_blank" href="https://www.google.co.uk/maps/place/Highfield+Ln,+Southampton+SO17+1RL/@50.9301043,-1.397766,17z/data=!3m1!4b1!4m2!3m1!1s0x487473f9ca535e77:0xac08053f7ffc70ef">Go to Map</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 img-column">
            <img src="img/rsz_highfield-round.png">
        </div>
    </div>
    <div class="row sub-content">
        <div class="col-md-3 img-column">
            <img src="img/rsz_blue-keys-round.png">
        </div>
        <div class="col-md-9">
            <h2>The reception</h2>
            <p>We're having our reception at the Blue Keys Hotel, where we will be providing canapes and drinks on
                arrival and then a BBQ for all our guests. There will then be dancing and cake!</p>
            <div class="row sub-info">
                <div class="col-xs-2 col-md-1">
                    <ng-include src="'img/clock.svg'"></ng-include>
                </div>
                <div class="col-xs-10 col-md-11">Head over after photographs finish at the church. The evening will end at midnight when the bar closes!
                </div>
            </div>
            <div class="row sub-info">
                <div class="col-xs-2 col-md-1">
                    <ng-include src="'img/parking2.svg'"></ng-include>
                </div>
                <div class="col-xs-10 col-md-11">Hotel parking is limited but you should be OK finding spaces on the surrounding roads.
                </div>
            </div>
            <div class="row sub-info">
                <div class="col-xs-2 col-md-1">
                    <ng-include src="'img/map-marker.svg'"></ng-include>
                </div>
                <div class="col-xs-10 col-md-6">
                    <b>The Blue Keys Hotel</b><br>
                    82 Northlands Road<br>
                    Southampton<br>
                    SO15 2LH<br>
                </div>
                <div class="col-xs-12 col-md-5">
                    <div class="map-button-col">
                        <a class="button" target="_blank" href="https://www.google.co.uk/maps/place/The+Blue+Keys/@50.9161824,-1.4146395,17.5z/data=!4m13!1m7!3m6!1s0x487476a65838baad:0x5342c2ccc712a181!2sBlue+Keys+Hotel,+82+Northlands+Rd,+Southampton+SO15+2LH!3b1!8m2!3d50.9170652!4d-1.4128221!3m4!1s0x0000000000000000:0xa37eaf3c32ce054a!8m2!3d50.9162728!4d-1.413268">Go to Map</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1>Travel</h1>
        <p>For our friends travelling from outside Southampton we've prepared some travel suggestions.
            Get in touch if you would like more information - we've tried all of these at various times!</p>
        <h2>From Heathrow Airport</h2>
        <p>The simplest way is to take a National Express bus which originates at the airport and is about a 2 hour trip.
            Check out <a href="http://www.nationalexpress.com" target="_blank">NationalExpress.com</a> to plan or book your journey - your start
            location will be <b>Heathrow Airport</b> (you can find your terminal
            <a href="http://www.heathrow.com/airport-guide/which-terminal" target="_blank">here</a>)
            and you can travel to either <b>Southampton Coach Station</b> (closest to the city) or
            <b>University of Southampton</b> (closest to the wedding).
        </p>
        <p>
            You can also take a train to Southampton which will involve several transfers. Check out
            <a href="http://www.nationalrail.co.uk" target="_blank">nationalrail.co.uk</a> for train times and booking
            (speak to us if you need help!)
        </p>
        <h2>From Central London</h2>
        <p>The train out of London Waterloo station takes a little over an hour to reach Southampton and direct
            trains are available. You can arrive at either <b>Southampton Central</b> (slightly easier) or <b>Southampton Airport Parkway</b>
             and get a UniLink bus to wherever you're staying.  Check out
            <a href="http://www.nationalrail.co.uk" target="_blank">nationalrail.co.uk</a> for train times and booking
            (speak to us if you need help!)</p>
        <p>You can also get a <a href="http://www.nationalexpress.com" target="_blank">National Express coach</a> from Victoria coach station</p>
        <h2>Around Southampton</h2>
        <p>Southampton has a great bus system called <a href="http://www.unilinkbus.co.uk/" target="_blank">UniLink</a>, many taxis, and is very walkable.
            For our American guests, unless you feel the need to drive on the opposite side of the road,
            you can probably manage without renting a car.</p>
    </div>
</div>