<div class="content content-white" id="event" data-scrollspy-broadcast>
    <h1>20th August 2016 - Southampton, UK</h1>
    <div class="row sub-content">
        <div class="col-md-9">
            <h2>The Ceremony</h2>
            <p>Our wedding ceremony is taking place at the beautiful Highfield Church, in Southampton,
                the church we both called home when we lived in Southampton.</p>
            <div class="row sub-info">
                <div class="col-md-1">
                    <ng-include src="'img/clock.svg'"></ng-include>
                </div>
                <div class="col-md-11">Guests should arrive by 1.45 pm. Following the ceremony, photographs will be
                    taken.
                </div>
            </div>
            <div class="row sub-info">
                <div class="col-md-1">
                    <ng-include src="'img/parking2.svg'"></ng-include>
                </div>
                <div class="col-md-11">There is no parking available at the church itself, but you should have no trouble finding spaces on the
                    nearby roads (try Brookvale Road).
                </div>
            </div>
            <div class="row sub-info">
                <div class="col-md-1">
                    <ng-include src="'img/map-marker.svg'"></ng-include>
                </div>
                <div class="col-md-11">
                    <b>Highfield Church</b><br>
                    Highfield Lane<br>
                    Southampton<br>
                    SO17 1RL<br>
                    <a class="button pull-bottom-right" target="_blank" href="https://www.google.co.uk/maps/place/Highfield+Ln,+Southampton+SO17+1RL/@50.9301043,-1.397766,17z/data=!3m1!4b1!4m2!3m1!1s0x487473f9ca535e77:0xac08053f7ffc70ef">Go to Map</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img src="img/highfield-round.png">
        </div>
    </div>
    <div class="row sub-content">
        <div class="col-md-3">
            <img src="img/blue-keys-round.png">
        </div>
        <div class="col-md-9">
            <h2>The reception</h2>
            <p>We're having our reception at the Blue Keys Hotel, where we will be providing canapes and drinks on
                arrival and then a BBQ for all our guests. There will then be dancing and cake!</p>
            <div class="row sub-info">
                <div class="col-md-1">
                    <ng-include src="'img/clock.svg'"></ng-include>
                </div>
                <div class="col-md-11">Head over after photographs finish at the church. The evening will end at midnight when the bar closes!
                </div>
            </div>
            <div class="row sub-info">
                <div class="col-md-1">
                    <ng-include src="'img/parking2.svg'"></ng-include>
                </div>
                <div class="col-md-11">Hotel parking is limited but you should be OK finding spaces on the surrounding roads.
                </div>
            </div>
            <div class="row sub-info">
                <div class="col-md-1">
                    <ng-include src="'img/map-marker.svg'"></ng-include>
                </div>
                <div class="col-md-11">
                    <b>The Blue Keys Hotel</b><br>
                    82 Northlands Road<br>
                    Southampton<br>
                    SO15 2LH<br>
                    <a class="button pull-bottom-right" target="_blank" href="https://www.google.co.uk/maps/place/Blue+Keys+Hotel,+82+Northlands+Rd,+Southampton+SO15+2LH/@50.9170686,-1.4150108,17z/data=!3m1!4b1!4m2!3m1!1s0x487476a65838baad:0x5342c2ccc712a181">Go to Map</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2>Travel to Southampton</h2>
        <p>For our friends travelling from America we've prepared some information about travelling to Southampton from London.
        Get in touch with and we'll give you our suggestions!</p>
    </div>

</div>