<div class="content content-teal" id="gifts">
    <h1>Gift List</h1>
    <p>Having the support of our friends and family is, to us, the best gift we could ask for and we'd be delighted just to have you with us!
    But if you do want to get us a gift, there are some things we're looking for:</p>
    <div class="row">
        <div class="col-md-6">
            <a class="logo-link" href="http://www.target.com" target="_blank">
                <div class="logo-white" style="margin-top: 54px;">
                    <ng-include src="'img/Target.svg'"></ng-include>
                </div>
            </a>
            <p style="margin-top: 37px;">We've put together an online registry with the US retailer Target (as we'll be living in the US after we get married):</p>
        </div>
        <div class="col-md-6">
            <a class="logo-link" href="http://www.rei.com" target="_blank">
                <div class="logo-white" style="margin-top: -20px;">
                    <ng-include src="'img/rei.svg'"></ng-include>
                </div>
            </a>
            <p>Feeling adventurous? So are we! We love to travel and explore so here are some things we would love to take on our adventures with us!</p>
        </div>
    </div>
</div>