<div>
    <!--<div class="script">Matt &<br> Colleen</div>-->
    <!--<div class="subscript">Get married August 20th - Southampton UK</div>-->
    <img src="img/mock-logo.png" style="width: 750px; position: absolute; top: 100px;">
    <ng-include src="'partials/event.html'"></ng-include>
    <ng-include src="'partials/rsvp.html'"></ng-include>
    <ng-include src="'partials/accommodation.html'"></ng-include>
    <!--Gifts (teal)-->
    <ng-include src="'partials/gifts.html'"></ng-include>
    <ng-include src="'partials/things-to-do.html'"></ng-include>
</div>
