<div ng-controller="NavBarController">
        <nav class="navbar">
            <ul>
                <!--<li><a href="./">Home</a></li>-->
                <li><a href="#event" data-scrollspy-listen="event">
                    <!--<i class="glyphicon glyphicon-heart-empty nav-icon"></i>-->
                    <!--<ng-include src="'img/rings.svg'"></ng-include>-->
                    <span>The Event</span>
                </a></li>
                <li><a href="#rsvp" data-scrollspy-listen="rsvp">
                    <!--<i class="glyphicon glyphicon-envelope nav-icon"></i>-->
                    <!--<ng-include src="'img/envelope.svg'"></ng-include>-->
                    <span>RSVP</span>
                </a></li>
                <li><a href="#accommodation" data-scrollspy-listen="accommodation">
                    <!--<i class="glyphicon glyphicon-bed nav-icon"></i>-->
                    <span>Places to Stay</span>
                </a></li>
                <li><a href="#gifts" data-scrollspy-listen="gifts">
                    <!--<i class="glyphicon glyphicon-gift nav-icon"></i>-->
                    <span>Gifts</span>
                </a></li>
                <li><a href="#things-to-do" data-scrollspy-listen="things-to-do">
                    <!--<i class="glyphicon glyphicon-map-marker nav-icon"></i>-->
                    <span>Things to do</span>
                </a></li>
            </ul>
        </nav>
</div>