<div class="content content-teal" ng-controller="RsvpController">

<h1>RSVP</h1>
    <form class="form-horizontal" ng-submit="submitRsvp()" ng-if="!submitted && !processing">
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
                <input id="name" name="name" ng-model="formData.name" class="form-control" title="Name" type="text" placeholder="Your name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Response</label>
            <div class="col-sm-9">
                <label class="radio-inline"><input type="radio" name="response" value="Yes" ng-model="formData.response">Will be there!</label>
                <label class="radio-inline"><input type="radio" name="response" value="No" ng-model="formData.response">Can't make it</label>
            </div>
        </div>

        <div class="form-group">
            <label for="comment" class="col-sm-3 control-label">Comment</label>
            <div class="col-sm-9">
                <textarea name="comment" ng-model="formData.comment" class="form-control" id="comment" rows=4 cols=50 title="Comment" placeholder="Add a comment to your RSVP"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="button">Send RSVP</button>
            </div>
        </div>
    </form>
    <div class="status-message">
        <div ng-if="processing">
            <i class="fa fa-spinner fa-spin"></i>Processing ...
        </div>
        <div ng-if="submitted && success">
            <i class="fa fa-check"></i>We got that. Thanks!
        </div>
        <div ng-if="submitted && !success">
            :-( Oops, something's gone wrong with our website! Email us your RSVP at {{email}}. Sorry!
        </div>
    </div>
</div>