.script {
  color: white;
  font-family: LemonMilk, sans-serif;
  font-size: 150px;
  line-height: 1.0;
  margin-bottom: 15px;
}
.subscript {
  font-family: Raleway, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.holder {
  padding: 100px;
}
