.script {
  color: @teal;
  font-family: LemonMilk, sans-serif;
  font-size: 100px;
  text-shadow: 4px 4px 4px @yellow;
  line-height: 1.0;
  margin-bottom: 15px;

}

.subscript {
  font-family: Armonioso, sans-serif;
}

.background {
  background-color: rgba(251, 251, 248, 0.50);
  height: 100%;
  width: 750px;
  position: absolute;
  right:50px;
  padding: 50px;
}