.script {
  color: @teal;
  font-family: LemonMilk, sans-serif;
  font-size: 100px;
  text-shadow: 4px 4px 4px @yellow;
  line-height: 1.0;
  margin-bottom: 15px;

}

.subscript {
  font-family: Armonioso, sans-serif;
}

.background {
  .gray;
  background-color: rgba(251, 251, 248, 1.00);
  background-image: url("../img/symphony.png");
  box-shadow: 5px 0 5px 0 rgba(50,50,50,0.2);
  height: 100%;
  width: 750px;
  position: absolute;
  left:0;
  padding: 50px;
}



