.base-logo {
  position: absolute;
  width: 100%;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(50, 50, 50, 0.3);
}
.logo {
  position: absolute;
  width: 100%;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(50, 50, 50, 0.3);
  top: 100px;
  font-family: CormorantSCBold, serif;
  font-size: 100px;
}
.sub-logo {
  position: absolute;
  width: 100%;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(50, 50, 50, 0.3);
  top: 200px;
  font-family: CormorantSCLight, serif;
  font-size: 43px;
}
