@import "colours";
@import "prefixer";
@import "effects";

body {
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
  padding: 50px 20%;
  @media (max-width: 800px) {
    padding-left: 5%;
    padding-right: 5%;

  }
  width: 100%;
  img {
    width: 100%;
  }

  .pull-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.sub-content {
  .vertical-align;
  &:not(:last-child) {
    padding-bottom: 50px;
  }
}

.sub-info {
  .col-md-1 {
    text-align: center;
  }
  padding-top: 15px;
  font-size: 14px;

  svg {
    width: 30px;
    height: 30px;
    fill: @teal500;
  }

}

.vertical-align {
  display: flex;
  align-items: center;
}