@import "colours";
@import "navbar";
@import "home";

@font-face {
  font-family: 'RalewayLight';
  src: url('../fonts/Raleway-Light.ttf');
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: 'CormorantSCBold';
  src: url('../fonts/CormorantSC-Bold.otf');
}
@font-face {
  font-family: 'CormorantSCLight';
  src: url('../fonts/CormorantSC-Light.otf');
}

@font-face {
  font-family: 'Armonioso';
  src: url('../fonts/armonioso.regular.ttf');
}

@font-face {
  font-family: 'LemonMilk';
  src: url('../fonts/LemonMilk.otf');
}

.gentle-shadow-top {
  box-shadow: 0 -5px 5px -2px rgba(50, 50, 50, 0.2);
}
.gentle-shadow-bottom {
  box-shadow: 0 5px 5px -2px rgba(50,50,50,0.2);
}

.img-background {
  height: 100%;
  width: 100%;
  .gray;
  background-image: url('../img/matt-colleen-sq.jpg');
  background-position: center left;
  background-size: cover;
  @media screen and (min-aspect-ratio: 6/4) {
    background-image: url('../img/panama-landscape.jpg');
  }
}
.gray {
  -webkit-filter: grayscale(85%);
  filter: grayscale(85%);
}
