.navbar-bottom {
  position: absolute;
  top: 80%;
}
.navbar-top {
  position: fixed;
  top: 0;
  z-index: 10;
}
.translucent-black {
  background-color: rgba(0, 0, 0, 0.5);
}
.smooth-transition {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.navbar {
  background-color: #00796B;
  position: fixed;
  top: 0;
  z-index: 10;
  text-align: center;
  width: 100%;
}
.navbar ul {
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline-block;
  list-style-type: none;
}
.navbar-fonts a {
  color: white;
  display: block;
  line-height: 2em;
  padding: 1.0em 3.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
}
.navbar-fonts a:hover,
.navbar-fonts a:active,
.navbar-fonts a:focus {
  border-bottom: 7px solid #FF6D00;
  color: #FF6D00;
  fill: #FF6D00;
  font-weight: bold;
  text-decoration: none;
}
.navbar-fonts a:hover i.nav-icon,
.navbar-fonts a:active i.nav-icon,
.navbar-fonts a:focus i.nav-icon {
  color: #b73800;
}
.navbar-fonts a svg {
  margin-top: -10px;
  margin-bottom: -30px;
  display: block;
  width: 85px;
}
.navbar-fonts a i.nav-icon {
  color: teal;
  display: block;
  font-size: 30pt;
  margin-bottom: 20px;
}
nav a {
  color: white;
  display: block;
  line-height: 2em;
  padding: 1.0em 3.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
}
nav a:hover,
nav a:active,
nav a:focus {
  border-bottom: 7px solid #FF6D00;
  color: #FF6D00;
  fill: #FF6D00;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover i.nav-icon,
nav a:active i.nav-icon,
nav a:focus i.nav-icon {
  color: #b73800;
}
nav a svg {
  margin-top: -10px;
  margin-bottom: -30px;
  display: block;
  width: 85px;
}
nav a i.nav-icon {
  color: teal;
  display: block;
  font-size: 30pt;
  margin-bottom: 20px;
}
.script {
  color: white;
  font-family: LemonMilk, sans-serif;
  font-size: 150px;
  line-height: 1.0;
  margin-bottom: 15px;
}
.subscript {
  font-family: Raleway, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.holder {
  padding: 100px;
}
@font-face {
  font-family: 'RalewayLight';
  src: url('../fonts/Raleway-Light.ttf');
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: 'CormorantSCBold';
  src: url('../fonts/CormorantSC-Bold.otf');
}
@font-face {
  font-family: 'CormorantSCLight';
  src: url('../fonts/CormorantSC-Light.otf');
}
@font-face {
  font-family: 'Armonioso';
  src: url('../fonts/armonioso.regular.ttf');
}
@font-face {
  font-family: 'LemonMilk';
  src: url('../fonts/LemonMilk.otf');
}
body {
  font-family: Raleway, sans-serif;
  color: #333;
  font-size: 16px;
}
h1,
h2,
h3,
h4 {
  font-family: LemonMilk, sans-serif;
  color: #009688;
}
h1 {
  font-size: 40px;
}
body {
  margin: 0;
  padding: 0;
}
.content {
  z-index: 1;
  padding: 50px 20%;
  width: 100%;
}
.content img {
  width: 100%;
}
.content .pull-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.sub-content {
  display: flex;
  align-items: center;
}
.sub-content:not(:last-child) {
  padding-bottom: 50px;
}
.sub-info {
  padding-top: 15px;
  font-size: 14px;
}
.sub-info .col-md-1 {
  text-align: center;
}
.sub-info svg {
  width: 30px;
  height: 30px;
  fill: #009688;
}
.vertical-align {
  display: flex;
  align-items: center;
}
.gentle-shadow-top {
  box-shadow: 0 -5px 5px -2px rgba(50, 50, 50, 0.2);
}
.gentle-shadow-bottom {
  box-shadow: 0 5px 5px -2px rgba(50, 50, 50, 0.2);
}
.gentle-shadow-bottom-right {
  box-shadow: 5px 5px 5px -2px rgba(50, 50, 50, 0.2);
}
.gray {
  -webkit-filter: grayscale(50%) brightness(0.55);
  -filter: grayscale(50%) brightness(0.55);
}
.button {
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #009688;
  box-shadow: 5px 5px 5px -2px rgba(50, 50, 50, 0.2);
}
.button:hover,
.button:active {
  text-decoration: none;
}
.content:nth-of-type(1) {
  box-shadow: 0 -5px 5px -2px rgba(50, 50, 50, 0.2);
}
.form-control {
  border: 5px solid #4DB6AC;
}
.form-control[type="text"] {
  padding-top: 18px;
  padding-bottom: 18px;
}
.content-white {
  background: white url('../img/square_bg.png') repeat;
}
.content-white:first-of-type {
  border-top: 5px solid #009688;
}
.content-white h1 {
  color: #FF6D00;
}
.content-white .button {
  border-color: #009688;
  color: #009688;
}
.content-white .button:hover,
.content-white .button:active {
  color: #FF6D00;
  border-color: #FF6D00;
}
.content-teal {
  background: #009688 none;
  color: white;
}
.content-teal h1,
.content-teal h2,
.content-teal h3 {
  color: white;
}
.content-teal .button {
  border-color: white;
  color: white;
}
.content-teal .button:hover,
.content-teal .button:active {
  color: #333;
  border-color: #333;
}
.img-background {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
  -webkit-filter: grayscale(50%) brightness(0.55);
  -filter: grayscale(50%) brightness(0.55);
  background-image: url('../img/matt-colleen-sq.jpg');
  background-position: center left;
  background-size: cover;
}
@media screen and (min-aspect-ratio: 6/4) {
  .img-background {
    background-image: url('../img/panama-landscape.jpg');
  }
}
.logo-white {
  margin-top: 50px;
}
.logo-white:not(:hover) path {
  fill: white !important;
}
.logo-link {
  text-align: center;
}
.status-message {
  text-align: center;
  font-size: 72px;
}
.status-message i {
  font-size: 100px;
  margin-right: 50px;
}
