@import "colours";
@import "navbar";
@import "home";
@import "typography";
@import "layout";
@import "effects";
@import "prefixer";


.content-white {
  background: white url('../img/square_bg.png') repeat;
  border-top: 5px solid @teal500;
}

.content-teal {
  background: @teal500 none;
  color: white;
  h1, h2, h3 {
    color: white;
  }
}

.img-background {
  height: 100%;
  width: 100%;
  position: absolute;
  .gray;
  background-image: url('../img/matt-colleen-sq.jpg');
  background-position: center left;
  background-size: cover;
  @media screen and (min-aspect-ratio: 6/4) {
    background-image: url('../img/panama-landscape.jpg');
  }
}

div.main-view {
  position: relative;
}