@import "colours.less";

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: @cream;
  margin: 0;
  overflow: hidden;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  .gentle-shadow-bottom;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      list-style-type: none;
      > a {
        color: @dark-grey;
        display: block;
        line-height: 2em;
        padding: 1.0em 2.0em;
        text-decoration: none;
        font-family: Raleway, sans-serif;
        &:hover, &:active, &:focus {
          color: teal;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
}
