.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #00796B;
  border-radius: 0;
  border-width: 0;
  text-align: center;
  width: 100%;
}
.navbar .navbar-collapse {
  border-color: #4DB6AC;
}
.navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar .navbar-header .navbar-toggle:focus,
.navbar .navbar-header .navbar-toggle:hover,
.navbar .navbar-header .navbar-toggle:active {
  background-color: #009688;
}
.navbar .nav li a {
  color: white;
  display: block;
  line-height: 2em;
  padding: 1.0em 3.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
}
.navbar .nav li a:hover,
.navbar .nav li a:active,
.navbar .nav li a:focus,
.navbar .nav li a.active {
  background-color: #009688;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.navbar .navbar-brand {
  color: #4DB6AC;
  cursor: default;
}
@media (min-width: 768px) {
  .navbar .navbar-brand {
    padding: 25px;
  }
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:active,
.navbar .navbar-brand:focus,
.navbar .navbar-brand.active {
  color: #4DB6AC;
}
.navbar .navbar-fonts svg {
  margin-top: -10px;
  margin-bottom: -30px;
  display: block;
  width: 85px;
}
.navbar .navbar-fonts i.nav-icon {
  color: teal;
  display: block;
  font-size: 30pt;
  margin-bottom: 20px;
}
