@import "colours.less";

.navbar {
  position: fixed;
  top: 0;
  z-index: 30;
  background-color: @teal700;
  border-radius: 0;
  border-width: 0;
  text-align: center;
  width: 100%;
  .navbar-collapse {
    border-color: @teal300;
  }
  .navbar-header {
    // Don't show the 'nav brand' on iPad size screen
    @media (max-width: 1024px) and (min-width: 768px) {
      display: none;
    }
    .navbar-toggle {
      .icon-bar {
        background-color: white;
      }
      &:focus, &:hover, &:active {
        background-color: @teal500;
      }
    }
  }

  .nav {
    li {
      a {
        color: white;
        display: block;
        line-height: 2em;
        padding: 1.0em 3.5em;
        text-decoration: none;
        text-transform: uppercase;
        font-size: large;
        font-weight: bold;
        // Reduce padding between nav elements for small screens (landscape iPad and below)
        @media (max-width: 1024px) {
          padding: 1.0em 2.5em;
        }
        // Shrink even further for portrait iPad
        @media (min-width: 768px ) and (max-width: 1023px) {
          padding: 1.0em 1.5em;
          font-size: medium;
        }
        &:hover, &:active, &:focus, &.active {
          background-color: @teal500;
          color: white;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
  .navbar-brand {
    color: @teal300;
    @media (min-width: 768px) {
      padding:25px;
    }
    cursor: default;
    &:hover, &:active, &:focus, &.active {
      color: @teal300;
    }
  }

  .navbar-fonts {
    svg {
      margin-top: -10px;
      margin-bottom: -30px;
      display: block;
      width: 85px;
    }
    i.nav-icon {
      color: teal;
      display: block;
      font-size: 30pt;
      margin-bottom: 20px;
    }
  }
}
