@import "colours.less";

.navbar-bottom {
  position: absolute;
  //bottom: 5%;
  top: 80%;
}

.navbar-top {
  position: fixed;
  top: 0;
  z-index: 10;
  //bottom: auto;
}

.translucent-black {
  background-color: rgba(0, 0, 0, 0.5);
}

.smooth-transition {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.navbar {
  .smooth-transition;
  text-align: center;
  width: 100%;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      list-style-type: none;
    }
  }
}

.navbar-fonts {
  a {
    color: white;
    fill: @teal;
    display: block;
    line-height: 2em;
    padding: 1.0em 3.5em;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    &:hover, &:active, &:focus {
      color: @orange2;
      fill: @orange2;
      font-weight: bold;
      text-decoration: none;
      i.nav-icon {
        color: @orange2;
      }

    }
    svg {
      margin-top: -10px;
      margin-bottom: -30px;
      display: block;
      width: 85px;
    }
    i.nav-icon {
      color: teal;
      display: block;
      font-size: 30pt;
      margin-bottom:20px;
    }
  }
}

nav {
  .translucent-black;
  .navbar-fonts;
}
