.navbar-bottom {
  position: absolute;
  top: 80%;
}
.navbar-top {
  position: fixed;
  top: 0;
  z-index: 10;
}
.translucent-black {
  background-color: rgba(0, 0, 0, 0.5);
}
.smooth-transition {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.navbar {
  background-color: #00796B;
  position: fixed;
  top: 0;
  z-index: 10;
  border-width: 0;
  text-align: center;
  width: 100%;
}
.navbar ul {
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline-block;
  list-style-type: none;
}
.navbar-fonts a {
  color: white;
  display: block;
  line-height: 2em;
  padding: 1.0em 3.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
}
.navbar-fonts a:hover,
.navbar-fonts a:active,
.navbar-fonts a:focus,
.navbar-fonts a.active {
  border-bottom: 7px solid #FF6D00;
  padding-bottom: 11px;
  color: #FF6D00;
  fill: #FF6D00;
  font-weight: bold;
  text-decoration: none;
}
.navbar-fonts a:hover i.nav-icon,
.navbar-fonts a:active i.nav-icon,
.navbar-fonts a:focus i.nav-icon,
.navbar-fonts a.active i.nav-icon {
  color: #b73800;
}
.navbar-fonts a svg {
  margin-top: -10px;
  margin-bottom: -30px;
  display: block;
  width: 85px;
}
.navbar-fonts a i.nav-icon {
  color: teal;
  display: block;
  font-size: 30pt;
  margin-bottom: 20px;
}
nav a {
  color: white;
  display: block;
  line-height: 2em;
  padding: 1.0em 3.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
}
nav a:hover,
nav a:active,
nav a:focus,
nav a.active {
  border-bottom: 7px solid #FF6D00;
  padding-bottom: 11px;
  color: #FF6D00;
  fill: #FF6D00;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover i.nav-icon,
nav a:active i.nav-icon,
nav a:focus i.nav-icon,
nav a.active i.nav-icon {
  color: #b73800;
}
nav a svg {
  margin-top: -10px;
  margin-bottom: -30px;
  display: block;
  width: 85px;
}
nav a i.nav-icon {
  color: teal;
  display: block;
  font-size: 30pt;
  margin-bottom: 20px;
}
