@import "effects";
@import "colours";

.button {
  // todo redo these? don't like them!
  background-color: transparent;
  cursor: pointer;
  font-weight:bold;
  font-size: 16px;
  padding: 10px;
  border: 3px solid @teal500;
  &:hover, &:active {
    text-decoration: none;
  }
  .gentle-shadow-bottom-right;
}

.form-control {
  border: 5px solid @teal300;
  &[type="text"] {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.content-holder > ng-include:first-of-type > .content {
    .harder-shadow-top;
}

.content-white {
  background: white url('../img/square_bg.png') repeat;
  h1 {
    color: @deepOrangeA400;
  }
  .button {
    border-color: @teal500;
    color: @teal500;
    &:hover, &:active {
      color: @deepOrangeA400;
      border-color: @deepOrangeA400;
    }
  }
}

.content-teal {
  background: @teal500 none;
  color: white;
  .gentle-shadow-top-bottom;
  h1, h2, h3 {
    color: white;
  }
  .button {
    border-color: white;
    color: white;
    &:hover, &:active {
      color: @dark-grey;
      border-color: @dark-grey;
    }
  }
}

.img-background {
  height: 100%;
  width: 100%;
  z-index: 0;
  //position: absolute;
  position: fixed;
  top: 0;
  .gray;
  background-image: url('../img/matt-colleen-sq.jpg');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  // Use a 'widescreen' background image for larger / wider displays.
  @media (min-aspect-ratio: 6/4) {
    background-image: url('../img/panama-landscape.jpg');
  }

  // Use a narrow portrait for phones in portrait mode
  @media (max-width: 767px) and (orientation: portrait) {
    //background-position: -406px -101px;
    margin-top: 50px;
    background-image: url('../img/rsz_panama-portrait-narrow.jpg');
    background-position: top center;
    background-size: contain;
  }
}

.mc-logo{
  width: 500px;
  max-width: 100%;
  position: absolute;
  top: 200px;
  left:75px;
  z-index: 10;
  // Use a smaller logo for phones and portrait iPad
  @media (max-width: 768px) {
    top: 300px;
    width:80%;
    left: 10%;
  }
}

.logo-white {
  margin-top: 50px;
  &:not(:hover) {
    path {
      fill: white !important;
    }
  }
}

.logo-link {
  text-align: center;
  svg {
    width: 100%;
  }
}

.status-message {
  text-align: center;
  font-size: 72px;
  i {
    font-size: 100px;
    margin-right: 50px;
  }
}